/* Custom Properties */
:root{
    --main-bg-color:cornflowerblue;
    --primary-type-color:aliceblue;
    --accent-color-1:navy;
}

/* Typography */
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Box Sizing */
html{
    box-sizing:border-box;
}

*,*:before, *:after{
    box-sizing:inherit;
}

/* Utility Classes */
.container{
    max-width:420px;
    margin:0 auto;
}

.formcontainer {
    width: 1000px;
    padding: 5px;
}

.formlabel {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding: 5px;
}
.error {
    color: red;
    padding-left: 5px;
}

/* Decorations */
body{
    background-color:var(--main-bg-color);
    color:var(--primary-type-color);
    line-height:1.6em;
}

h1 {
    display:flex;
    flex-direction:row;
    justify-content:left;
    text-align:left;
    font-weight:400;
    font-variant:small-caps;
    font-size:1.9rem;
}